.container {
    display: flex;
    flex-wrap: wrap;

    .wrapper {
        width: 33%;
    }
}

img{
    max-width: 100%;
}

.person {
    border-radius: 0.2em;
    border: 1px solid #a5a5a5;
    background-color: rgba(lightgrey, 0.8);
    box-shadow: #777279 1px 1px;

    .image {
        padding: 10px;

        img {
            border-radius: 50%;
        }
    }

    .text {
        text-align: center;
        padding: 20px 10px;
    }

    .link {
        padding: 10px;

        a.button{
            color: black;
            background-color: greenyellow;
            border-radius: 4px;
            text-align: center;
            display:block;
            text-decoration: none;
            padding: 10px;
        }
    }
}